html{
    scroll-behavior: smooth;
}

body{
   
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav{
    width: 100%;
    background: #26262670;
    overflow: hidden;
    position: fixed;
    top: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    float: left;
}
a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

#section1{
    height: 700px;
    background: rgb(209, 196, 170);
    display: inline-block;
    width: 100%;
}
#section2{
    height: 700px;
    background: rgb(210, 230, 236);
    display: inline-block;
    width: 100%;
}
#section3{
    height: 700px;
    background: rgb(227, 187, 235);
    display: inline-block;
    width: 100%;
}
#section4{
    height: 700px;
    background: rgb(170, 222, 243);
    display: inline-block;
    width: 100%;
}
#section5{
    height: 700px;
    background: rgb(196, 247, 208);
    display: inline-block;
    width: 100%;
}

h1{
    margin: 100px;
}